In [4]:
import pandas as pd
import numpy as np
import io
import statsmodels.formula.api as smf

## Задача 1.1.1

In [29]:
data = '''sleep totwrk age male hrwage
3113   3438  32   1    7.07 
2920   5020  31   1    1.43 
2670   2815  44   1   20.53 
3083   3786  30   0    9.62 
3448   2580  64   1    2.75 
4063   1205  41   1   19.25 '''

In [30]:
data

'sleep totwrk age male hrwage\n3113   3438  32   1    7.07 \n2920   5020  31   1    1.43 \n2670   2815  44   1   20.53 \n3083   3786  30   0    9.62 \n3448   2580  64   1    2.75 \n4063   1205  41   1   19.25 '

In [31]:
df = pd.read_csv(io.StringIO(data), sep = '\s+')
df

   sleep  totwrk  age  male  hrwage
0   3113    3438   32     1    7.07
1   2920    5020   31     1    1.43
2   2670    2815   44     1   20.53
3   3083    3786   30     0    9.62
4   3448    2580   64     1    2.75
5   4063    1205   41     1   19.25

In [32]:
df['pred'] = 3525.14 + (-0.16)*df['totwrk'] + 1.62 * df['age'] + 51.84 * df['male'] + (-9.88) * np.log(df['hrwage'])
df

   sleep  totwrk  age  male  hrwage         pred
0   3113    3438   32     1    7.07  3059.416098
1   2920    5020   31     1    1.43  2820.466176
2   2670    2815   44     1   20.53  3168.003754
3   3083    3786   30     0    9.62  2945.613219
4   3448    2580   64     1    2.75  3257.865383
5   4063    1205   41     1   19.25  3421.379791

In [34]:
df['residual'] = df['sleep'] - df['pred']
df

   sleep  totwrk  age  male  hrwage         pred    residual
0   3113    3438   32     1    7.07  3059.416098   53.583902
1   2920    5020   31     1    1.43  2820.466176   99.533824
2   2670    2815   44     1   20.53  3168.003754 -498.003754
3   3083    3786   30     0    9.62  2945.613219  137.386781
4   3448    2580   64     1    2.75  3257.865383  190.134617
5   4063    1205   41     1   19.25  3421.379791  641.620209

## Задача 1.1.2

In [36]:
data = '''output capital labour
9.25    2.61    184  
3.66    1.32     91  
28.78   22.09   426  
4.12    10.74    72  
2.89    1.16     46'''

In [37]:
data

'output capital labour\n9.25    2.61    184  \n3.66    1.32     91  \n28.78   22.09   426  \n4.12    10.74    72  \n2.89    1.16     46'

In [38]:
df = pd.read_csv(io.StringIO(data), sep = '\s+')
df

   output  capital  labour
0    9.25     2.61     184
1    3.66     1.32      91
2   28.78    22.09     426
3    4.12    10.74      72
4    2.89     1.16      46

In [39]:
df['pred'] = (-1.71) + 0.21 * np.log(df['capital']) + 0.71 * np.log(df['labour'])
df

   output  capital  labour      pred
0    9.25     2.61     184  2.194068
1    3.66     1.32      91  1.551013
2   28.78    22.09     426  3.238628
3    4.12    10.74      72  1.824968
4    2.89     1.16      46  1.039504

In [41]:
df['residual'] = np.log(df['output']) - df['pred']
df

   output  capital  labour      pred  residual
0    9.25     2.61     184  2.194068  0.030556
1    3.66     1.32      91  1.551013 -0.253550
2   28.78    22.09     426  3.238628  0.121053
3    4.12    10.74      72  1.824968 -0.409115
4    2.89     1.16      46  1.039504  0.021753

## Задача 1.2.1

In [42]:
TSS = 100.35
ESS = 47.56

In [43]:
RSS = TSS - ESS
RSS

52.78999999999999

$$
R^2 = \frac{ESS}{TSS} = 1 - \frac{RSS}{TSS}
$$

In [46]:
R2 = ESS/TSS
R2

0.47394120577977084

$$
R^2_{adj} = 1 - (1-R^2) * \frac{n-1}{n-k}
$$
n -- Количество измерений
k --- Количество регрессоров

## Задача 2.1

In [50]:
n = 526
k = 5
R2 = 0.288
R2adj = 1 - (1-R2)*(n-1)/(n-k)
R2adj

0.2825335892514397

In [51]:
round(R2adj, 3)

0.283

## Задача 3.1

In [53]:
sting_data = '''i   Факт  Fitted  Остаток 
1   3113 3094.454  18.546 
4   3083 2943.580 139.420 
6   4063 3494.143 568.857 
10  3018 3111.983 -93.983 
508 3630 3476.914 153.086 
700 2993 3295.398 -302.398'''

In [57]:
df = pd.read_csv(io.StringIO(sting_data), sep = '\s+')
df

     i  Факт    Fitted  Остаток
0    1  3113  3094.454   18.546
1    4  3083  2943.580  139.420
2    6  4063  3494.143  568.857
3   10  3018  3111.983  -93.983
4  508  3630  3476.914  153.086
5  700  2993  3295.398 -302.398

In [58]:
df['Факт']

0    3113
1    3083
2    4063
3    3018
4    3630
5    2993
Name: Факт, dtype: int64

In [59]:
df['Факт'].mean()

3316.6666666666665

In [61]:
tss = (df['Факт'] - df['Факт'].mean())**2
tss

0     41480.111111
1     54600.111111
2    557013.444444
3     89201.777778
4     98177.777778
5    104760.111111
Name: Факт, dtype: float64

In [62]:
TSS = np.sum((df['Факт'] - df['Факт'].mean())**2)
TSS

945233.3333333334

In [64]:
df['Fitted']

0    3094.454
1    2943.580
2    3494.143
3    3111.983
4    3476.914
5    3295.398
Name: Fitted, dtype: float64

In [63]:
df['Fitted'].mean()

3236.078666666667

In [78]:
ESS = np.sum((df['Fitted'] - df['Факт'].mean())**2)
ESS

288096.9463873332

In [79]:
RSS = TSS - ESS
RSS

657136.3869460002

In [80]:
R2 = ESS/TSS
round (R2, 3)

0.305

In [81]:
R2_adj = 1 - (1-R2)*(700-1)/(700-4)
round (R2_adj, 4)

0.3018

In [83]:
SER = np.sqrt(RSS)
SER

810.6394925896469